@keyframes appear {
  0%   { opacity:0; }
  100% { opacity:1; }
}
@keyframes disappear {
  0%   { opacity:1; }
  100% { opacity:0; }
}

a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.is-loading {
  &:after {
    animation: flickerAnimation 2s infinite;
    animation-play-state: running !important;
  }
}

.is-exiting {
  animation: disappear .25s forwards !important;
}