.featured-hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: rem-calc(350);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .page-ashv & {
    max-width: rem-calc(767);
    margin: 0 auto;
  }
  .entry-title {
    color: $white;
  }
  .logo {
    width: rem-calc(233px);
    margin-bottom: -5px;
    @include breakpoint (medium) {
      width: rem-calc(300px);
    }
  }
}
