body.single-work {
  @include breakpoint (medium) {
    overflow-x: hidden;
  }
}

@keyframes line {
  0% {
    width: 0%;
  }

  40% {
    top: 50%;
    height: 2px;
    width: 100%;
  }

  60% {
    top: 50%;
    height: 2px;
    width: 100%;
  }

  95% {
    height: 100%;
    top: 0;
    opacity: 1;
  }

  100% {
    height: 100%;
    top: 0;
    opacity: 0;
  }
}

.line-wrapper {
  @supports not (animation-name: appear) {
    display: none;
  }

  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100vh;

  .line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    animation: line 1s forwards ease-in-out;
  }
}

.artwork.container {
  background-color: $dark-blue;
  overflow-x: hidden;

  
  .artwork-bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    min-height: 568px;
    z-index: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
    @supports (animation-name: appear) {
      opacity: 0;
      animation: appear 0s .95s forwards;
    }
  }
  
  &.no-thumb .artwork-bg {
    background-size: 100%;
  }
  .artwork-wrapper {
    width: 100%;
    height: 100vh;
    min-height: 568px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;

    .artwork {
      display: block;
      max-height: 80vh;
      max-width: 80vw;
      position: relative;
      z-index: 100;

      @supports (animation-name: appear) {
        opacity: 0;
        animation: appear 1s 1s forwards;
      }
    }

  }

  .fragments {
    @include xy-grid-container;
    padding-top: 2rem;

    @include breakpoint (medium) {
      padding-top: 4rem;
    }

    .hide-for-medium .grid-x:first-child {
      margin-bottom: 1rem;
    }

    .mask {
      display: inline-block;
      position: relative;

      // &:after {
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   width: 100%;
      //   height: 100%;
      //   content: "";
      //   background: url('../images/frag_mask.png') no-repeat;
      //   z-index: 10;
      //   background-size: cover;
      // }

      img {
        position: relative;
        z-index: 0;
      }
    }
  }

  .info {
    padding-top: 2rem;
    @include breakpoint(medium) {
      overflow-x: hidden;
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    .grid-container {
      background: $silver;
      padding: 4rem 2rem;
      padding-bottom: 2rem;
      opacity: .9;
      
      @include breakpoint(medium) {
        position: relative;

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 9999px;
          background: $silver;
          z-index: 0;
        }
      }

      .grid-x {
        position: relative;
        z-index: 10;
      }

      .title-block {
        margin-bottom: 1rem;

        .title {
          font-family: $body-font-family;
          font-weight: bold;
          font-size: rem-calc(22);
          line-height: 1.2;
          margin-bottom: .5rem;

          @include breakpoint(medium) {
            margin-top: -1rem;
            font-size: rem-calc(24);
          }
        }

        span {
          display: block;
        }
      }

      .descr {
        font-size: rem-calc(14px);
      }

      .series {
        margin-top: 1rem;

        a {
          color: $black;
          cursor: default;
          pointer-events: none;
        }
      }

      .nav {
        @include breakpoint(medium) {
          margin-top: -14px;
        }

        .next-set:nth-child(2) {
          margin-top: -1rem;

          @include breakpoint(medium) {
            margin-top: -2rem;
          }
        }

        img {
          min-width: rem-calc(50);
          width: rem-calc(70);
        }
      }
    }

  }
}
