.post-type-archive-work {
  background: $dark-blue;

  .main-container {
    padding: 0 3rem;
  }

  .main-grid {
    min-height: calc(100vh - 45px);
  }

  h1 {
    font-size: 2.5rem;
    color: $white;
    margin-bottom: 1.5rem;

    @include breakpoint (medium) {
      font-size: 3rem;
      text-align: center;
      margin-bottom: 2rem;

    }
  }

  .catalog-menu {
    margin-left: 0;
    list-style: none;

    @include breakpoint (medium) {
      // columns: 2;
      @include xy-grid;
    }

    a {
      color: $light-blue;
    }

    >li {
      break-inside: avoid-column;
      margin-bottom: 1.1rem;

      @supports (animation-name: appear) {
        opacity: 0;
        animation: appear 1s forwards;

        @for $i from 1 through 10 {
          &:nth-child(#{$i}n) {
            animation-delay: #{$i * 0.3}s;
          }
        }
      }

      @include breakpoint (medium) {
        @include xy-cell(6);
      }


      >a {
        font-family: $header-font-family;
        font-size: 2rem;
        margin-bottom: 0.75rem;
        display: inline-block;
        line-height: 1.2;
        pointer-events: none;
        cursor: default;
      }

      ul {
        list-style: none;
        margin-left: 0;

        >li {
          >a {
            display: inline-block;
            margin-bottom: 0.3rem;
          }
        }
      }
    }
  }
}
