.home {
  background: center center no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  background-image: url('../images/title_bg_mob.jpg');

  @include breakpoint(medium) {
    background-image: url('../images/title_bg@0.5x.jpg');
  }

  @include breakpoint(large) {
    background-image: url('../images/title_bg.jpg');
  }

  .front-content {
    padding-top: 3rem;
    text-align: center;
  }

  .logo-wrap {
    display: inline-block;
    position: relative;

    &:after {
      content: '';
      width: 140%;
      height: 140%;
      top: -20%;
      left: -20%;
      background: url(../images/cloud.png) center center no-repeat;
      background-size: contain;
      position: absolute;
      z-index: 20;

      @supports (animation-name: appear) {
        opacity: 0;
        animation: appear 1s forwards;
      }
    }
  }

  .logo {
    width: clamp(150px, 500px, 40vh);
    margin-bottom: 1rem;

    @supports (animation-name: appear) {
      opacity: 0;
      animation: appear 1s .5s forwards;
    }

    transition: opacity .2s;
    transition-delay: .5s;
    position: relative;
    z-index: 50;
  }

  .menu-wrap {
    max-width: rem-calc(740);
    margin: 0 auto 2rem;
    padding: 0 2rem;
    position: relative;
    z-index: 100;
  }

  .menu {
    display: block;
    text-align: center;

    @include breakpoint (medium) {
      margin-left: 2rem;
      columns: 2;
      padding-left: 60px;
    }

    li {
      @include breakpoint (medium) {
        &:first-child {
          break-after: column;
          // column-width: 200px;
        }

        &:nth-child(3) {
          margin-left: -2rem;
        }

        &:nth-child(4) {
          margin-left: -5rem;
        }

        text-align: left;
      }

      @supports (animation-name: appear) {
        opacity: 0;
        animation: appear 1s forwards;

        @for $i from 1 through 10 {
          &:nth-child(#{$i}n) {
            animation-delay: #{$i * 0.2 + .5}s;
          }
        }
      }
    }

    a {
      font-family: $header-font-family;
      line-height: 1.2;
      color: $white;
      text-shadow: 1px 1px 5px rgba(black, .8);
      font-size: rem-calc(30);

      @include breakpoint(medium) {
        font-size: rem-calc(32);
      }

      @include breakpoint(large) {
        font-size: rem-calc(36);
      }
    }
  }

  .info {
    @supports (animation-name: appear) {
      opacity: 0;
      animation: appear 1s 2s forwards;
    }

    background: rgba($white, .6);
    border-radius: 25px;
    padding: 1rem 2rem;
    display: inline-block;
    color: $dark-blue;
    text-align: left;
    max-width: rem-calc(300);
    margin-bottom: 2rem;

    p {
      font-size: rem-calc(14);
      line-height: 1.4;
      opacity: .7;
    }

    .button {
      background: $white;
      opacity: 1;
      border-radius: 30px;
      color: $dark-blue;
    }
  }
}
