@keyframes title-appear {
  0% {
    opacity: 0;
    margin-bottom: -20px;
  }

  100% {
    opacity: 1;
    margin-bottom: -6px;
  }
}

.page {
  &:not(.front) {
    background-color: $dark-blue;
  }

  color: $light-blue;

  .featured-hero {
    @supports (animation-name: appear) {
      opacity: 0;
      animation: appear .5s forwards;
    }

    .logo,
    .entry-title {
      @supports (animation-name: appear) {
        opacity: 0;
        animation: title-appear .5s .5s forwards;
      }
    }
  }

  .entry-title {
    color: $white;
    text-align: center;

    &.no-feature {
      @supports (animation-name: appear) {
        opacity: 0;
        animation: appear .5s forwards;
      }

      margin-top: 3rem;
    }
  }

  .main-content {
    @include xy-cell(10);

    @include breakpoint (medium) {
      @include xy-cell(6);
    }

    @supports (animation-name: appear) {
      opacity: 0;
      animation: appear 1s 1s forwards;
    }

    :not(.has-post-thumbnail) & {
      animation: appear 1s .5s forwards;
    }

  }
}
