@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

.single-work {
  background: $dark-blue;
}

.single .parent {
  width: 100vw;
  height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  background: #000;

  @supports (animation-name: appear) {
    opacity: 0;
    animation: appear 1s forwards;
  }

  overflow-x: hidden;

  .parent-bg {
    background: no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
  }

  .clouds-wrap {
    position: relative;
    margin: 0 auto;
    max-width: rem-calc(900);
    height: 100%;
  }

  .artwork {
    position: absolute;
    transform: translate(-50%, -50%);

    a {
      display: block;
    }

    .cloud {
      animation: flickerAnimation 5s infinite;
    }

    &:nth-child(2n) .cloud {
      animation: flickerAnimation 5s 1s infinite;
    }

    &:nth-child(3n) .cloud {
      animation: flickerAnimation 5s 2s infinite;
    }

    .text-link {
      display: block;
      text-align: center;
      color: $white;

      @supports (animation-name: appear) {
        opacity: 0;
        animation: appear 2s 3s forwards;
      }

      font-size: 1rem;
      text-shadow: $black 0px 0px 4px;
      margin-top: -.5rem;
    }
  }

  #set-navigation {
    position: absolute;
    width: 100%;
    height: rem-calc(134);
    bottom: 0;

    .previous-set {
      margin-left: rem-calc(-40px);
    }

    .next-set {
      text-align: right;
      right: 0;
      margin-right: rem-calc(-40px);
    }

    .nav-button {
      display: block;
      position: absolute;
      width: rem-calc(134);
      height: rem-calc(134);
      background: url(../images/cloud.png) no-repeat;

      img {
        width: rem-calc(70);
      }

      .prev-arrow {
        margin-left: rem-calc(35);
        margin-top: rem-calc(35);
      }

      .next-arrow {
        margin-right: rem-calc(35);
        margin-top: rem-calc(35);
      }
    }
  }
}
