// Navigation breakpoints
.mobile-menu {
  background: $dark-blue;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  &.is-open {
    visibility:visible;
    opacity: 1;
    .menu-wrap {
      .logo, .menu li {
        opacity: 1;
      }
    }
  }

  .menu-wrap {
    text-align: center;
    @include breakpoint (medium) {
      max-width: 80vw;
    }
    @include breakpoint (large) {
      max-width: 50vw;
    }
    .logo {
      max-height: 30vh;
      margin-bottom: 1rem;
      opacity: 0;
      transition: opacity .2s;
      transition-delay: .5s;
    }
    .menu {
      li {
        opacity: 0;
        transition: opacity .2s;
        @for $i from 1 through 10 {
          &:nth-child(#{$i}n) {
            transition-delay: #{$i * 0.2 + .5}s;
          }
        }
      }
      a {
        font-family: $header-font-family;
        color: $white;
        font-size: rem-calc(30);
        @include breakpoint(medium){
          font-size: rem-calc(36);
        }
      }
      .is-active > a {
        color: $light-blue;
        background: none;
      }
    }
  }
}

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  .menu-icon {
    width: 30px;
    height: 20px;
    margin-right: 8px;
    margin-top: 8px;
    &:hover:after  {
      background: $white;

    }
    &::after {
      box-shadow: 0 10px 0 $white, 0 20px 0 $white;
    }
  }
}


// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}
